
@font-face {
    font-family: "font-Reg";
    // src: url("../fonts/IBMPlexSansArabic-Regular.ttf");
    src: url("../fonts/Elm-Regular.ttf");
  }

  @font-face {
    font-family: "font-Bold";
    // src: url("../fonts/IBMPlexSansArabic-Bold.ttf");
    src: url("../fonts/Elm-Bold.ttf");
  }

  @font-face {
    font-family: "font-Med";
    // src: url("../fonts/IBMPlexSansArabic-Medium.ttf");
    src: url("../fonts/Elm-Medium.ttf");
  }
  @font-face {
    font-family: "font-Li";
    // src: url("../fonts/IBMPlexSansArabic-Light.ttf");
    src: url("../fonts/Elm-Light.ttf");
  }
  @font-face {
    font-family: "font-XLi";
    // src: url("../fonts/IBMPlexSansArabic-ExtraLight.ttf");
    src: url("../fonts/Elm-Light.ttf");
  }

  @font-face {
    font-family: "font-SimiBold";
    // src: url("../fonts/IBMPlexSansArabic-SemiBold.ttf");
    src: url("../fonts/Elm-Medium.ttf");
  }