
@font-face {
    font-family: "IBM-Reg";
    src: url("../fonts/IBMPlexSansArabic-Regular.ttf");
  }

  @font-face {
    font-family: "IBM-Bold";
    src: url("../fonts/IBMPlexSansArabic-Bold.ttf");
  }

  @font-face {
    font-family: "IBM-Med";
    src: url("../fonts/IBMPlexSansArabic-Medium.ttf");
  }
  @font-face {
    font-family: "IBM-Li";
    src: url("../fonts/IBMPlexSansArabic-Light.ttf");
  }
  @font-face {
    font-family: "IBM-XLi";
    src: url("../fonts/IBMPlexSansArabic-ExtraLight.ttf");
  }

  @font-face {
    font-family: "IBM-SimiBold";
    src: url("../fonts/IBMPlexSansArabic-SemiBold.ttf");
  }