
@media(min-width:1400px) {
    .container {
        max-width: 1360px !important;
    }
   
}

@media(min-width:1500px) {
    .container {
        max-width: 1440px !important;
    }
    .container2{
        max-width: 1260px !important;
    }
   
}
@media(min-width:2000px) {
    .container {
        // max-width: 1440px;
    }
   
}



/***************
                    meeeeedia max-width
****************/

// under 1700px
@media(max-width:1700px) {

    .leadership .ELM-tabs1-cont .col-lg-6 {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
    .leadership .ELM-tabs1-cont .leadershipCard .img-box {
        width: 200px;
        height: 225px;
    }
    .leadership .ELM-tabs1-cont .leadershipCard .content-box{
        width: calc(100% - 200px);
        margin-top: 65px;
    }

}

// under 1400px
@media(max-width:1399.98px) {
    .mediaRel-main .main-box h3 {
        font-size: 60px;
        margin-bottom: 25px;
        line-height: 1;
    }
    .logo-details .main-box h3 {
        font-size: 60px;
    }
    .mediaRel-main .btn-shaped{
        font-size: 22px;
        height: 85px;
    }
    .mediaRel-main .secnd-sec p {
        font-size: 24px;
    }    
    .logo-details .logo-with-lines{
        img{
            zoom: .8;
        }
         .contentAb{
            h5{
                font-size: 24px;
                line-height: 1;
                margin-bottom: 5px;
            }
            p{
                font-size: 20px;
                line-height: 1;
            
            }
        }
        .contentAb.content4 p {
            max-width: 315px;
        }
    }
    .download-logo {
        .main-box {
            margin-bottom: 50px;
            h3{
                font-size: 60px;
                line-height: 1;
                margin-bottom: 25px;
            }
            p{
                font-size: 28px;
                line-height: 1;
            }
        }
        .downloadLogo{
            img{
                max-height: 125px;
            }
        }
        .download-btn{
            .btn-shaped{
                font-size: 23px;
                height: 85px;
                margin-top: 100px;
                width: 300px;
            }
        }
    }
    .logo-colors {
        padding: 105px 0;
        .main-box {
            margin-bottom: 170px;
            h3{
                font-size: 60px;
                line-height: 1;
            }
        }
        .content-box .logoColorCard .cont-box {
            h5{
                line-height: 1;

            }
            p{
                line-height: 1;
            }
        }
    }

    .home-tatawor .main-box{
        padding-#{$start-direction}: 130px;
    }
    .home-Investors .main-box{
        padding-#{$end-direction}: 130px;

    }
    .home-tatawor .main-box h3,
    .ourImpact .main-box h3,
    .home-ebtkar .main-box h3,
    .digital .main-box h3,
    .ourNum .main-box h3,
    .persevering .main-box h3,
    .home-Investors .main-box h3,
    .home-news .main-box h3,
    .elm-trip h3{
        font-size: 60px;
        line-height: 1;
    }
    .home-tatawor .main-box p,
    .home-ebtkar .main-box p,
    .persevering .main-box p,
    .home-Investors .main-box p,
    .home-news .main-box p{
        font-size: 28px;
        line-height: 1;
    }
    .btn-withShape a{
        height: 45px;
        font-size: 23px;
    }
    .ourNum .wapperNM .boxNum .counter{
        font-size: 110px;
        line-height: 1;
        margin-bottom: 0;
    }
    .ourNum .wapperNM{
        height: 250px;
    }
    .digital .digital-card .content-box h4{
        font-size: 25px;
        padding-bottom: 25px;
        padding-#{$end-direction}: 50px;
    }
    .digital .digital-card .content-box .plus-img{
        top: 20px;
        #{$end-direction}: 30px;

    }
    .digital{
        padding-top: 100px;
        padding-bottom: 100px;
        .main-box {
            margin-bottom: 60px;
        }
    }
    .ourNum ,
    .persevering ,
    .home-Investors,
    .home-news{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .home-ebtkar{
        padding-top: 100px;
    }
    .ourImpact{
        padding-top: 70px;
        padding-bottom: 100px;
        .main-box h3{
            margin-bottom: 100px;
        }
        .ourImpact-card {
            padding: 55px 25px;
            .img-box{
                #{$end-direction}:15px;
                top: -35px;
                max-width: 90px;
            }
            .content-box {
                h4{
                    font-size: 25px;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .cvPop-width {
        max-width: 1000px;
    }
}

// under 1200px
@media(max-width:1199.98px) {
    .leadership .ELM-tabs1-cont {
        padding: 20px;
    }
    .leadership .ELM-tabs1-cont .leadershipCard .img-box {
        width: 180px;
        height: 210px;
    }
    .leadership .ELM-tabs1-cont .leadershipCard .content-box {
        width: calc(100% - 180px);
        margin-top: 65px;
    }
    .leadership .ELM-tabs1-cont .leadershipCard .content-box .details-area .title1,
    .leadership .ELM-tabs1-cont .leadershipCard .content-box .details-area .title2,
    .leadership .ELM-tabs1-cont .hidden-popup .main-top .content .title1,
    .leadership .ELM-tabs1-cont .hidden-popup .main-top .content .title2,
    .leadership .ELM-tabs1-cont .hidden-popup .details ul li{
        font-size: 15px;
    }
    .leadership .ELM-tabs1-cont .leadershipCard .content-box .details-area .name ,
    .leadership .ELM-tabs1-cont .hidden-popup .main-top .content .name,
    .leadership .ELM-tabs1-cont .hidden-popup .details h4{
        font-size: 20px;
        line-height: 1;
    }
    .leadership .ELM-tabs1-cont .hidden-popup .main-top{
        margin-bottom: 30px;
    }
    .leadership .ELM-tabs1-cont .hidden-popup{
        padding: 25px 45px;
        padding-bottom: 35px;
        min-height: 485px;
    }

    .mediaRel-main .main-box h3,
    .logo-details .main-box h3,
    .download-logo .main-box h3,
    .logo-colors .main-box h3{
        font-size: 50px;
    }

    .ourImpact {
        .col-lg-4 {
            padding: 0 15px;
        }
        .ourImpact-card .content-box p{
            font-size: 16px;
        }
    }
    .home-tatawor .main-box h3, 
    .ourImpact .main-box h3, 
    .home-ebtkar .main-box h3, 
    .digital .main-box h3, 
    .ourNum .main-box h3, 
    .persevering .main-box h3, 
    .home-Investors .main-box h3, 
    .home-news .main-box h3,
    .elm-trip h3{
        font-size: 50px;
    }
    .home-tatawor .main-box p, 
    .home-ebtkar .main-box p, 
    .persevering .main-box p, 
    .home-Investors .main-box p, 
    .home-news .main-box p{
        font-size: 22px;
    }
    .btn-withShape a {
        height: 40px;
        font-size: 20px;
    }
    .home-tatawor {
        padding-top: 30px;
        padding-bottom: 50px;
        .main-box {
            padding-#{$start-direction}: 90px;
            h3{
                margin-bottom: 15px;
            }
            p{
                margin-bottom: 30px;
            }
        }
    }
    .ourImpact {
        padding-top: 40px;
        padding-bottom: 60px;
        .main-box h3{
            margin-bottom: 70px;
        }
        .ourImpact-card{
            padding: 35px 25px;
            min-height: 315px;
            .content-box h4{
                font-size: 22px;
                margin-bottom: 10px;
            }
            &:hover .img-box{
                top: -60px;
            }
        }
    }

    .home-ebtkar {
        padding-top: 40px;
        padding-bottom: 40px;
        .main-box {
            padding-#{$start-direction}: 50px;
            h3{
                margin-bottom: 15px;
            }
            p{
                margin-bottom: 30px;
            }
        }
    }

    .digital {
        padding-top: 50px;
        padding-bottom: 50px;
        .col-lg-3 {
            padding: 0 12px;
        }
        .digital-card .content-box{
            h4{
                font-size: 22px;
                padding-#{$end-direction}: 40px;
            }
            .plus-img{
                #{$end-direction}: 25px;
                width: 14px;
            }
        }
    }

    .ourNum {
        padding-top: 50px;
        padding-bottom: 50px;
        .main-box{
            margin-bottom: 40px;
        }
        .wapperNM {
            height: 220px;  
            .boxNum {
                gap: 10px;
                .counter{
                    font-size: 80px;
                }
            }
        }
    }
    .persevering{
        padding-top: 50px;
        padding-bottom: 50px;
        .persevering-card {
            min-height: 250px;
            .content-box {
                h4{
                    font-size: 22px;
                    line-height: 22px;
                    height: calc(22px* 2);
                }
            }
            .img-box{
                img{
                    max-width: 60%;
                    max-height: 130px;
                }
            }
        }
    }
    .home-Investors{
        padding-top: 50px;
        padding-bottom: 50px;
        .main-box{
            padding-#{$end-direction}: 70px;
            h3{
                margin-bottom: 15px;
            }
            p{
                margin-bottom: 30px;
            }
        }
    }
    .home-news{
        padding-top: 50px;
        padding-bottom: 50px;
        .main-box{
            padding-#{$end-direction}: 30px;
            h3{
                margin-bottom: 15px;
            }
            p{
                margin-bottom: 30px;
            }
        }
        .owl-carousel-news{
            margin-top: 30px;
            .news-card h4.date{
                font-size: 22px;
            }
        }
        .owl-dots{
            margin-top: 20px;
        }
    }
    .footer {
        .top-footer{
            padding-top: 50px;
            padding-bottom: 50px;
            .logo-box{
                img{
                    max-width: 170px;
                }
            }
        }
        .btm-footer{
            padding-top: 30px;
            padding-bottom: 20px;
            .footer-last {
                .dir-links {
                    gap: 3%;
                    padding: 0;
                    li{
                        a{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .FooterLinks{
            h4{
                font-size: 25px;
                margin-bottom: 15px;
            }
            ul {
                li{
                    margin-bottom: 5px;
                    font-size: 20px;
                    line-height: 1;
                    a{
                        font-size: inherit;
                        line-height: inherit;
                    }
                }
            }
            &.with-icon{
                .icon-box{
                    height: 30px;
                    width: 35px;
                    margin-bottom: 15px;
                    img{
                        max-height: 100%;
                    }
                }
                h4{
                    margin-bottom: 10px;
                }
                a{
                    font-size: 20px;
                    line-height: 1;
                }
            }
            &.social {
                margin-top: 50px;
                ul{
                    gap: 10px;
                }
            }
        }
        .spacing100{
            margin-top: 50px;
        }
        
    }
    .cvPop-width {
        max-width: 900px;
   }

   
   .elm-trip .cards-cont .trip-card{
    width: 215px;
    .img-box .square-img{
        width: 215px;
        height: 215px;
    }
   }
}


// under 992px
@media(max-width: 991.98px) {
    body{
        padding-top: 111px;
    }
    .menuWithBanner .topnav ul{
        margin-bottom: 0;
    }
    .menuWithBanner .topnav ul li {
        padding: 5px 0;
    }
    .menuWithBanner .topnav ul li a{
        font-size: 17px;
    }
    .menuWithBanner .topnav ul.end{
        gap: 4%;
    }
    .menuWithBanner .topnav .row{
        justify-content: space-between;
        .col-lg-6{
            &:first-child{
                width: 20%;
            }
            &:nth-child(2){
                width: 80%;
            }
        }
    }
    .menuWithBanner{
        box-shadow: 0 10px 40px #00000012;
        .navi {
            padding: 10px 0;
        }
        .navbar-toggler{
            box-shadow: none;
            text-decoration: none;
            margin-top: 7px;
        }
        .navbarMenu .navbar-nav{
            position: absolute;
            background-color: #ffffff;
            #{$start-direction}: 0;
            top: 100px;
            padding: 20px 80px 40px;
            box-shadow: 0 10px 40px #00000012;
            .nav-link{
                height: auto;
                padding: 5px 0;
            }
            .dropdown-menu{
                border: none;
                text-align: #{$start-direction};
                background-color: $colorOpacity1;
                padding: 10px 25px;
                ul{
                    list-style: none;
                    padding: 0;
                }
            }
        }
    }
    .footer .top-footer {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .footer .FooterLinks h4 {
        font-size: 25px;
        font-family: 'font-Med';
        color: #0C1D46;
        margin-bottom: 20px;
    }
    .footer .FooterLinks ul li {
        margin-bottom: 7px;
        line-height: 1;
        font-size: 20px;
        a{
            font-size: inherit;
        }
    }
    .footer .top-footer .logo-box{
        justify-content: center;
        img{
            max-width: 150px;
        }
    }
    .footer .spacing100 {
        margin-top: 40px;
    }
    .footer .FooterLinks.with-icon .icon-box{
        height: 30px;
        margin-bottom: 15px;
        img{
            max-height: 100%;
        }
    }
    .footer .FooterLinks h4 {
        font-size: 22px;
        margin-bottom: 5px;
    }
    .footer .FooterLinks.with-icon a {
        font-size: 20px;
        line-height: 1;
    }
    .FooterLinks.with-icon{
        margin-bottom: 10px;
    }
    .footer .FooterLinks.social {
        margin-top: 35px;
        h4{
            margin: 0 auto;
            margin-bottom: 10px;
        }
        ul{
            justify-content: center;
            gap: 15px;
            li a{
                width: 38px;
                height: 38px;
            }
        }
    }
    .footer .btm-footer .footer-last .dir-links{
        gap: 2%;
        li{
            a{
                font-size: 18px;
                line-height: 1;
            }
        }
    }


    .mediaRel-main {
        padding-top: 50px;
        .main-box{
            position: relative;
            z-index: 2;
        }
        .img-box{
            position: relative;
            z-index: 0;
            margin-top: -130px;
            max-height: 500px;
            justify-content: center;
        }
        .btn-shaped{
            margin-bottom: 20px;
        }
    }
    .logo-details {
        padding-top: 60px;
        padding-bottom: 65px;
        .logo-with-lines{
            zoom: .7;
            img{
                zoom: .7;
            }
            .contentAb.content4 p{
                width: 285px;
            }
        }
    }
    .download-logo{
        padding-bottom: 60px;
        padding-top: 65px;
        .downloadLogo{
            margin-bottom: 40px;
        }
    }
    .logo-colors {
        padding: 60px 0;
        .main-box{
            margin-bottom: 100px;
        }
        .content-box{
            flex-direction: column;
            gap: 20px;
            .logoColorCard {
                .img-box{
                    width: 45px;
                    height: 45px;
                    margin-bottom: 20px;
                }
                .cont-box {
                    h5{
                        font-size: 20px;
                        margin-bottom: 5px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }



    .home-tatawor .main-box{
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .home-tatawor .img-box{
        text-align: center;
        img{
            max-width: 450px;
        }
    }
    .home-ebtkar .main-box{
        padding: 0;
        margin-top: 20px;
    }
    .ourImpact .main-box h3 {
        margin-bottom: 50px;
    }
    .ourImpact .ourImpact-card{
        min-height: auto;
        margin-bottom: 40px;
    }

    .home-ebtkar .img-box{
        text-align: center;
        img{
            max-width: 450px;
        }
    }
    .card-withShape{
        margin-bottom: 30px;
    }
    .ourNum .wapperNM.color2{
        background-size: cover;
    }
    .persevering .persevering-card{
        min-height: auto;
        margin-bottom: 30px;
    }

    .home-Investors .img-box{
        text-align: center;
        img{
            max-width: 450px;
        }
    }
    .home-news .main-box{
        padding: 0;
        margin-bottom: 30px;
    }

    .footer {
        .FooterLinks {
            h4{
                // font-size: 20px;
                margin-bottom: 5px;
                text-align: center;
            }
            ul.dashed > li{
                text-align: center;

            }
            &.with-icon {
                .icon-box{
                    margin: 0 auto;
                }
                a{
                    display: block;
                    text-align: center;
                }
            }
        }
        .top-footer{
            padding-top: 40px;
            padding-bottom: 25px;
            .logo-box{
                margin-bottom: 20px;
            }
            .row{
                display: flex;
                flex-direction: column-reverse;
                &.spacing100{
                    flex-direction: column;
                }
            }
        }
        .btm-footer{
            padding-top: 35px;
            padding-bottom: 5px;
            .logos-box{
                text-align: center;
                margin-bottom: 20px
            }
            .footer-last .dir-links{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;    
            }
        }
    }
    .home-Investors .main-box{
        padding: 0;
        margin-bottom: 30px;
        justify-content: flex-start;
        height: auto;
    }
    .home-news .owl-carousel-news .news-card h4.date {
        font-size: 16px;
        bottom: 0px;
        padding: 5px 10px;
    }
    .cvPop-width {
         max-width: 500px;
    }
    .elm-trip{
        padding-top: 50px;
        padding-bottom: 60px;
        .col-lg-12{
            order: 1;
        }
        .col-lg-4{
            order: 3;
        }
        .col-lg-8{
            order: 2;
        }
        .col-12{
            order: 4;
        }
    }
    .elm-trip .main-trip-content{
        min-height: 110px;
        text-align: center;
        margin-top: 15px;
    }
    .elm-trip .main-trip-content .years-cont{
        top: 0;
    }
    .elm-trip .main-trip-content .years-cont{
        h4 {
            font-size: 40px;
            line-height: 1;
        }
        p {
            line-height: 1;
            font-size: 20px;
        }
    }
}
// under 768px
@media(max-width: 767.98px) {
    body{
        padding-top: 103px;
    }
    .leadership .inner-header h3{
        font-size: 30px;
    }
    .leadership .ELM-tabs1 .nav-item .nav-link {
        font-size: 25px;
        padding: 10px;
    }


    .mediaRel-main .main-box h3,
    .logo-details .main-box h3,
    .download-logo .main-box h3, 
    .logo-colors .main-box h3 {
        font-size: 35px;
    }
    .mediaRel-main .main-box p {
        font-size: 18px;
    } 
    .mediaRel-main .secnd-sec p {
        font-size: 18px;
    }
    .mediaRel-main .btn-shaped {
        font-size: 18px;
        height: 75px;
    }
    .mediaRel-main .btn-shaped .img-cont img{
        zoom: .9;
        transform: translateY(3px);
    }
    .mediaRel-main .btn-shaped:hover .img-cont img{
        transform: translateY(13px);

    }
    .logo-details .logo-with-lines {
        zoom: .6;
        
        img {
            zoom: .6;
        }
    }
    .logo-details .logo-with-lines .contentAb.content4 p {
        width: 240px;
    }
    .download-logo .main-box p {
        font-size: 20px;
    }
    .download-logo .download-btn .btn-shaped {
        font-size: 18px;
        height: 75px;
        margin-top: 65px;
        width: 230px;
        .img-cont img{
            zoom: .9;
            transform: translateY(3px);
        }
        &:hover{
            .img-cont img{
                transform: translateY(12px);

            }
        }
    }

    .logo-colors{
        padding-bottom:155px;
        &::before{
            background-size: contain;
            background-position: bottom #{$start-direction};
        }
        .main-box {
            margin-bottom: 40px;
        }
        .content-box{
            gap: 10px;
        }
    }

    .home-tatawor .main-box h3, 
    .ourImpact .main-box h3, 
    .home-ebtkar .main-box h3, 
    .digital .main-box h3, 
    .ourNum .main-box h3, 
    .persevering .main-box h3, 
    .home-Investors .main-box h3, 
    .home-news .main-box h3 ,
    .elm-trip h3{
        font-size: 35px;
    }
    .home-tatawor .main-box p, .home-ebtkar .main-box p, .persevering .main-box p, .home-Investors .main-box p, .home-news .main-box p{
        font-size: 20px;
    }
    .ourNum .numContainer{
        margin: 0;
    }
    .ourNum .wapperNM .boxNum .counter {
        font-size: 60px;
    }
    .ourNum .wapperNM .boxNum span {
        font-size: 20px;
    }
    .elm-trip .cards-cont .trip-card {
        width: 50%;
    }
    .elm-trip .cards-cont .trip-card .img-box .square-img {
        width: 100%;
        height: 175px;
    }

}
// under 575px
@media(max-width: 574.98px) {
    body{
        padding-top: 100px;
    }
    .leadership .ELM-tabs1-cont .leadershipCard{
        align-items: center;
        flex-direction: column;
        .img-box{
            width: 200px;
            height: 185px;
        }
        .content-box{
            width: calc(100%);
            margin-top: 10px;
        }
    }
    .leadership .ELM-tabs1-cont .hidden-popup {
        padding: 20px 25px;
    }
    .leadership .ELM-tabs1-cont .hidden-popup .main-top {
        flex-direction: column;
    }

    .leadership .ELM-tabs1-cont .leadershipCard .content-box .btns-box{
        margin-top: 10px;
    }



    .logo-details .logo-with-lines{
        zoom: .5;
        img {
            zoom: .5;
        }
    }
    .mediaRel-main .main-box h3, .logo-details .main-box h3, .download-logo .main-box h3, .logo-colors .main-box h3 {
        font-size: 30px;
    }
    .mediaRel-main {
        padding-bottom: 40px;
        .main-box p {
            font-size: 15px;
        }
    }
    .mediaRel-main .main-box h3{
        margin-bottom: 20px;
    }
    .download-logo {
        .main-box{
            margin-bottom: 25px;
            p {
                font-size: 16px;
            }
        }
        .downloadLogo img {
            max-height: inherit;
            max-width: 150px;
        }
    }

    .home-tatawor .img-box img,
    .home-ebtkar .img-box img,
    .home-Investors .img-box img{
        max-width: 100%;
    }
    .ourNum .wapperNM .boxNum .counter {
        font-size: 40px;
    }
    .ourNum .wapperNM {
        height: 160px;
        padding: 0 15px;
    }
    .ourNum .wapperNM .boxNum span {
        font-size: 18px;
    }

    .menuWithBanner .navbarMenu .navbar-nav{
        padding: 20px 30px 40px;
    }
}

// under 400px
@media(max-width: 399.98px) {
}
