

$font-path: "../fonts/";
$img-path: "../images/";

// colors



$bg1:#BFC9E6;
$white:#FFF;
$text1:#0C1D46;
$color1:#2E9FDA;
$color2:#53307E;
$color3:#F7F8FC;
$color4:#F16845;
$color5:#6E43B5;
$color6:#0070C7;
$color7:#8139D0;
$color8: #484E7B;
$color9:#464D7E;




$colorOpacity1:#E5E9F5;
$colorOpacity2:#FCFCFE;
$colorOpacity3 :#E4E8F5;


$theme-colors: (

);

